.hhh{
    color: white;
    font-size: xx-large;
    font-weight: 800;
}

.text{
    color: white;
    font-size: large;
 
}

.sign{
    color: aliceblue;
    background-color: #0f79af;
    padding: 1rem;
}

init-parent{
display: flex;
    justify-content: center;
    align-items: center;
  

}

init-c1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    width: 50%;
    border: 2px solid white;
}

init-c2{
    height: 50rem;
    width: 50%;
    border: 2px solid white;

}